<div class="tagsC"></div>
<div class="inputC">
    <input type="text" class="ddInput" placeholder="<%= config && config.placeholder ? config.placeholder : 'Please Select' %>" <% if ( config && !config.searchable ) { %> readonly <% } %>>
    <span class="ddInputAction ddClear" style="display: none;"><i class="fa fa-times"></i></span>
    <span class="ddInputAction ddListToggle"><i class="fa fa-sort-desc"></i></span>
</div>